.whatContainer {
  margin-top: 127px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card_layout {
  width: 281px;
  height: 315px;
  box-shadow: 0 3px 21px 0 rgba(0, 0, 0, 0.04);
  border: solid 1px rgba(99, 118, 150, 0.2);
  background-color: #ffffff;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  border-radius: 5%;
}

.decentralized {
  margin: 79px 93.6px 28.9px 92.8px;
  width: 94.6px;
  height: 100.1px;
  object-fit: contain;
  /* background-color: #009cde; */
}

.peer {
  width: 139.5px;
  height: 52.6px;
  margin: 116.5px 71.6px 38.9px 69.9px;
  object-fit: contain;
}

.featured_name {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.featured_title {
  font-family: Rubik;
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  /* line-height: 2.5; */
  letter-spacing: normal;
  text-align: left;
  color: #000808;
}

.whatTextCard {
  width: 600px;
  height: 315px;
  /* margin: 127px 30px 735px 31px; */
  /* padding: 32px 17px 27px 18px; */
  box-shadow: 0 3px 21px 0 rgba(0, 0, 0, 0.04);
  border: solid 1px rgba(99, 118, 150, 0.2);
  background-color: #ffffff;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  margin-left: 31px;
  margin-right: 31px;
}

.whatHeading {
  font-family: Rubik;
  font-size: 40px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  margin-top: 32px;
  color: #000808;
}

.whatContent {
  font-family: NunitoSans;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.8;
  letter-spacing: normal;
  text-align: center;
  color: #637696;
  margin-top: 24px;
  margin-left: 18px;
  margin-right: 17px;
}
